* { box-sizing:border-box; }

.div0{
	position: absolute;
	display:box; 
	flex-direction: column;
	border: 3px solid red;
	height: 500px;
	align-items: flex-start;
	align-content: center;
	width: 60%;
	margin-left: 20%;
	margin-top: 10%;

}

.div1{
	margin-top: 0px;
	background-color: #87CEEB;
	height: 50px;
	width: 99.5%;
	align-content: flex-start;
	margin-left: 3px;
	


}

.div2{
	
	background-color: #87CEEB;
	height: 150px;
	width: 30%;
	align-content: center;
	margin-left: 35%;
	margin-top: 100px;


	
}


.div3{
	
	background-color: #87CEEB;
	height: 50px;
	width: 99.5%;
	align-content: flex-end;
	margin-left: 3px;
	margin-top: 110px;
	
}

p {
	text-align: center;
	color: white;
}