

body{
	background-color: #f9f9f9;
	height: 50%;
	width: 70%;
	
	margin-left: 15%;

}

section {
	width: 50%;
	float: left;
	display: flex;
	border: 2px solid black;
	height: 700px;
}

article{
	width: 50%;
	float: right;
	display: flex;
	background-color: red;
	height: 700px;
	border: 2px solid black;

}

