.div1{
	margin: auto;
	width: 95%;
	height:80%px;
	display:flex;
	padding: 5%;
	align-content: center;
}
.droite{
	margin: 4px;
	height:100%;
	width: 48%;
	background-color: #C1C1C1;
padding: 5%;
}

.image{
	display: flex;
	
	
	
}

hr{
	margin-left: 5%;
	margin-right: 5%;
}
img{
	 object-fit: cover;
    border-radius: 50%;
    	
margin: auto;
	margin-top: 5%;
height: 20%;
    width: 40%;

}
.div2{
	
	height:90%;
	width: 150%;
	padding: 5px;


}

.div3{
	
	height: 25%;
	width: 90%;
	background-color: #E8EAE8;
	padding: 5%;
	margin-bottom: 5px;
}



.div4{
	
	height: 35%;
	width: 90%;
	background-color: #E8EAE8;
padding: 5%;
}


.div5{
	
	height: 20%;
	width: 90%;
padding: 2%;
	background-color: #FFFFF0;


}


.div6{
	
	height: 40%;
	width:90%;
	background-color: #E8EAE8;
	padding: 5%;
	float: left;
	
	

}

.div7{
	margin-bottom: 4px;
	width: 53%;
	height: 26%;
	float: left;
	margin-left: -2%;
	padding: 5px;
		background-color: #E8EAE8;

}

.div8{
	margin-bottom: 4px;
	width: 53%;
	height: 26%;
	margin-right: -8.5%;
	float: right;
	padding: 5px;
		background-color: #E8EAE8;

}

.text{
	text-align: center;
	width: 95%;
	font-size: 20px;
}

.div2 div{
	font-size: 20px;
}
