.div1{
	margin: auto;
	width: 60%;
	border: 4px solid blue;
	height:900px;
}
.droite{
	margin: 4px;
	border: 2px solid red;
	height:888px;
	width: 35%;
	background-color: #C1C1C1;
}

.image{
	border-radius: 50%;
	width: 65%;
	border: 3px solid blue;
	margin: auto;
	margin-top: 10%;
	height: 25%;
	background-color: white;

}
.div2{
	margin: 4px;
	border: 2px solid red;
	height:890px;
	width: 63%;
	margin-left: 36.2%;
	margin-top: -94.4%;

}

.div3{
	border: 3px solid blue;
	height: 18%;
	width: 98%;
	margin-top: 5px;
	margin-left: 2px;
		background-color: #E8EAE8;

}


.div4{
	border: 3px solid blue;
	height: 35%;
	width: 98%;
	margin-top: 10px;
	margin-left: 2px;
		background-color: #E8EAE8;

}


.div5{
	border: 3px solid blue;
	height: 20.5%;
	width: 98%;
	margin-top: 5px;
	margin-left: 2px;
		margin-bottom: 2px;
			background-color: #FFFFF0;


}


.div6{
	border: 3px solid blue;
	height: 19%;
	width: 61.5%;
	margin-top: -20%;
	margin-right: 10px;
	float: right;
		background-color: #E8EAE8;

}

.div7{
	border: 3px solid blue;
	height: 72%;
	width: 45.5%;
	margin-top: -4%;
	margin-left: 5px;
		background-color: #E8EAE8;

}

.div8{
	border: 3px solid blue;
	height: 72%;
	width: 45.5%;
	margin-top: -24%;
	margin-right: 5px;
	float: right;
		background-color: #E8EAE8;

}

.text{
	text-align: center;
	width: 95%;
}


